
<h1>Project: <%= @project.title %></h1>

<h3>Volunteers on this Project:</h3>
<div class= "current">
  <% if @project.volunteers %>
    <ul>
    <% @project.volunteers.each do |volunteer| %>
      <li><a href="/projects/<%= @project.id %>/volunteers/<%=volunteer.id %>"><%= volunteer.name %></a>
    <% end %>
  </ul>
<% else %> 
  <p>There are currently no volunteers at this time</p>
<% end %>
</div>



<form action="/projects/<%= @project.id %>/volunteers" method="post">
  <div class="form-group">
    <label for="volunteer_name">Add a new Volunteer</label>
    <input id="volunteer_name" style="width: 300px" name="volunteer_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add Volunteer</button>
</form>
<br>
<p><button type="submit"><a href="/projects/<%= @project.id %>/edit">Edit project</button></a></p>
<p><button type="submit"><a href="/projects">Return to Project List</button></a></p>





